<nav class="bg-dark col-12">
  <div class="row">
      <div class="col-md-6 col-sm-1">
          <a class="" href="/home">
              <img id="logo" src='../../../../assets/broadcast_logo.svg' alt="Broadcast Logo">
          </a>
      </div>
  </div>
</nav>

<div class="container" style="text-align: center">


  <div class="w-25 mx-auto row settingsItem rounded" style="border: 1px solid black; margin:25px">
    <form  [formGroup]="updateInfo" (ngSubmit)="update()">

      <div *ngIf="usernamesMatch === false" class="text-center">
        <i>
            <p class="input-error">*Usernames don't match</p>
        </i>
    </div>


      <div style="margin-top:1em; margin-bottom: 1em;" class="col rounded">
        <input formControlName="oldUsername" type="text" placeholder="Enter Old Username">
        <span *ngIf="updateInfo.controls['oldUsername'].dirty && updateInfo.hasError('required', 'oldUsername')"></span>
      </div>


      <div style="margin-top:1em; margin-bottom: 1em;" class="col">
        <input formControlName="newUsername" type="text" placeholder="Enter New Username">
        <span *ngIf="updateInfo.controls['newUsername'].dirty && updateInfo.hasError('required', 'newUsername')"></span>
      </div>



      <div style="margin-top:1em; margin-bottom: 1em;" class="col">
        <input formControlName="confirmUsername" type="text" placeholder="Confirm New Username">
        <span *ngIf="updateInfo.controls['confirmUsername'].dirty && updateInfo.hasError('required', 'confirmUsername')"></span>
      </div>

          <button [disabled]="!updateInfo.valid" type="submit" class="btn">Submit</button>
    </form>
  </div>


</div>
