<div class="container" style="text-align: center">


    <div class="w-25 mx-auto row" style="border: 1px solid black; margin:25px">


        <div style="margin-top:1em; margin-bottom: 1em;" class="col">
            <a href="http://localhost:4200/changeusername"><button class="btn">Change Username</button></a>

        </div>


        <div style="margin-top:1em; margin-bottom: 1em;" class="col">
            <a href="http://localhost:4200/changepassword"><button class="btn">Change Password</button></a>

        </div>



        <div style="margin-top:1em; margin-bottom: 1em;" class="col">
            <a href="http://localhost:4200/deleteaccount"><button class="btn">Delete Account</button></a>
        </div>
    </div>


</div>