#logo {
        width: auto;
        height: 2.5em;
        margin: 0.7em;
    }

.col {
  border: solid black;
  margin: 2em;

}

.col:hover {
  background-color: black;

}


.btn {
    color: black;
}

.btn:hover {
    font: italic;
    color: white;
}

.settingsItem {
    background-color: #ff6c14;
}

.navbar-nav {
  padding-left: 2em;
}

#user {
  bottom: 0;
}
