@media screen and (min-width: 815px) {
    /* Show mobile nav bar when a device smaller than an iPad is used */
    #mobile-nav {
        display: none !important;
    }
    /* Move feed to adjust for sidebar */
    #feed {
        padding-left: 17em;
    }
}
@media screen and (max-width: 815px) {
    /* Hide sidebar for mobile */
    #sidebar {
        display: none !important;
    }
}

#mobile-nav {
    overflow: visible;
    position: sticky;
    bottom: 0;
    width: 100%;
}

#nav {
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 17em;
    position: fixed;
    z-index: 0;
    top: -1;
    left: 0;
    overflow-x: hidden;
}