<app-post-input class="modal fade" id="post-modal-mobile" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
    aria-hidden="true"></app-post-input>

<nav id="nav-mobile" class="nav-mobile bg-dark col-12">
    <a data-toggle="modal" data-target="#post-modal-mobile">
        <img class="icons" src='../../../../assets/new_post.svg' alt="New Post">
    </a>
    <!-- <a class="" routerLink="/home">
        <img class="icons" src="../../.././../assets/friends.svg" alt="Add friends">
    </a> -->
    <a class="" routerLink="/home">
        <img class="icons" src="../../.././../assets/home.svg" alt="Home">
    </a>
    <a class="" routerLink="/explore">
        <img class="icons" src="../../.././../assets/explore.svg" alt="Explore">
    </a>
    <a class="" routerLink="/home">
        <img class="icons" src='../../../../assets/settings.svg' alt="Settings">
    </a>
</nav>
