<app-post-input class="modal fade" id="post-modal-mobile" tabindex="-1" role="dialog" aria-labelledby="postModalLabel"
    aria-hidden="true"></app-post-input>

<nav id="nav-mobile" class="nav-mobile bg-dark col-12">
    <a data-toggle="modal" data-target="#post-modal-mobile">
        <img class="icons" src='../../../../assets/new_post.svg' alt="New Post">
    </a>
    <a class="" routerLink="/home">
        <img [style]="'filter:' + (currentRoute === '/home' ? 'brightness(145%)' : 'none')" class="icons" src="../../.././../assets/home.svg" alt="Home">
    </a>
    <a class="" routerLink="/explore">
        <img [style]="'filter:' + (currentRoute === '/explore' ? 'brightness(145%)' : 'none')" class="icons" src="../../.././../assets/explore.svg" alt="Explore">
    </a>
    <a class="" routerLink="/profile">
        <img [style]="'filter:' + (currentRoute === '/profile' ? 'brightness(145%)' : 'none')" class="icons" src="../../.././../assets/profile.svg" alt="User profile">
    </a>
    <a class="" routerLink="/profile">
        <img class="icons" src='../../../../assets/settings.svg' alt="Settings">
    </a>
</nav>
