<nav class="bg-dark col-12">
  <div class="row">
      <div class="col-md-6 col-sm-1">
          <a class="" href="/home">
              <img id="logo" src='../../../../assets/broadcast_logo.svg' alt="Broadcast Logo">
          </a>
      </div>
  </div>
</nav>


<div class="container" style="text-align: center">


  <div class="w-25 mx-auto row settingsItem rounded" style="border: 1px solid black; margin:25px">


      <div style="margin-top:1em; margin-bottom: 1em;" class="col rounded">
        <input type="text" placeholder="Enter Old Password">

      </div>


      <div style="margin-top:1em; margin-bottom: 1em;" class="col">
        <input type="text" placeholder="Enter New Password">
      </div>



      <div style="margin-top:1em; margin-bottom: 1em;" class="col">
        <input type="text" placeholder="Confirm New Password">
      </div>

      <a href="http://localhost:4200/settings"><button class="btn">Submit</button></a>
  </div>


</div>
