<nav class="bg-dark col-12">
  <div class="row">
      <div class="col-md-6 col-sm-1">
          <a class="" href="/home">
              <img id="logo" src='../../../../assets/broadcast_logo.svg' alt="Broadcast Logo">
          </a>
      </div>
  </div>
</nav>


<div class="container" style="text-align: center">


  <div class="w-50 mx-auto row settingsItem rounded" style="border: 1px solid black; margin:25px">

    <div class="col">
      <h3>
        WARNING
      </h3>
      <p>
        Your Account Will Be Lost Forever!
      </p>
      <p>
        Are You Sure You Want To Proceed?
      </p>
    </div>
  </div>

  <div class="w-50 mx-auto row buttonItem rounded" style="margin:25px">

    <a href="http://localhost:4200/settings"><button id="cncl"  class="btn deleteButtons">
      Cancel
    </button>
  </a>
    <button id="dlt" class="btn deleteButtons">
      Delete Account
    </button>
  </div>


</div>

