#logo {
    width: auto;
    height: 2.5em;
    margin: 0.7em;
  }
  
  .holder {
    text-align: center;
    width: fit-content;
    border: solid black;
    margin: 2em;
    background-color: white;
  }
  

  .inputrow {
    text-align: center;
    justify-content: center;
  }

  
.alert {
    font-size: 3em;
    color: Red;

}

.warningMessage {
    color: black;
    margin: 1em;
}


.forever {
    color: red;
}

.btn {
    margin: 1em;
}

.delete {
    border: solid red;
    background-color: white;
    color: red
}

.delete:hover {
    background-color: red;
    color: white;
}

.back {
    background-color: white;
    color: black;
    border: solid black;
}

.back:hover {
    background-color: black;
    color:white;
}