


<body >


<div class="container-fluid" style="border:solid black; background-color: rgb(234, 146, 38);">
<nav class="row" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
  <a routerLink="home"><img src="Untitled.png" height="30px" width="60px"></a>
  <a class="col" routerLink="home" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Home</a>
  <a class="col" routerLink="test" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Testing Page</a>
  <a class="col" routerLink="login" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Login</a>
  <a class="col" routerLink="signup" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Sign Up</a>
  <a class="col" routerLink="settings" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Settings</a>
  <a class="col" routerLink="profile" style="color: darkslategray; margin:20px; border: 2px solid darkslategray;">Profile</a>
</nav>
</div>

<router-outlet></router-outlet>
</body>
