<nav class="bg-dark col-12">
  <div class="row">
    <div class="col-md-6 col-sm-1">
      <a class="" href="/home">
        <img
          id="logo"
          src="../../../../assets/broadcast_logo.svg"
          alt="Broadcast Logo"
        />
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row inputrow">
    <div class="col-md-6 holder rounded">
      <div class="currentEmail rounded">
        Current Email: *current email goes here*
      </div>
      <input class="text rounded" type="text" placeholder="Old Email" />
      <br />
      <input class="text rounded" type="text" placeholder="New Email" />
      <br />
      <input class="text rounded" type="text" placeholder="Confirm New Email" />
      <br />
      <button class="btn" routerLink="/home">Go Back</button>
      <button class="btn" routerLink="/home">Submit</button>
    </div>
  </div>
</div>
