#logo {
  width: auto;
  height: 2.5em;
  margin: 0.7em;
}

.holder {
  text-align: center;
  width: fit-content;
  border: solid black;
  margin: 2em;
  background-color: #ff6d15;
}

.text {
  border: solid black;
  margin: 1em;
}

.inputrow {
  text-align: center;
  justify-content: center;
}

.btn {
	background-color: white;
	color: black;
	border: solid black;
	margin: 0.5em;
}

.btn:hover {
	background-color: black;
	color: white;
	border:solid black;;

}


.currentEmail {
	color: white;
	background-color: black;
	border: solid black;
	margin: 1em;
	padding: 0;
}