<div class="container" style="text-align: center">
    <div class="w-25 mx-auto row" style="border: 1px solid black; margin:25px">
  
      <div class="col">
        <p>Login</p>
        <input style="margin-bottom: 10px; margin-top: 10px" type="text" />
      </div>
  
      <div class="col">
        <p>Password</p>
        <input style="margin-bottom: 10px; margin-top: 10px" type="text" />
        <a style="margin:30px" href="http://localhost:4200/"><button class="btn">Enter</button></a>
        <p>(You will be redirected back to the Home Page)</p>
      </div>
    </div>
  </div>