<div class="posts justify-content-center">
    <!-- Post Card -->
    <div class="buffer"></div>

    <div *ngFor="let post of posts" class="col-xxl-6 col-xl-8 col-lg-11 col-md-12 mb-4 mx-auto">
        <div id="post-{{post.messageId}}" class="card h-100 bg-mid shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header bg-mid py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">{{post.messageTitle}}</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-gray-400">⠇</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Post Options:</div>
                        <a class="dropdown-item" (click)="handleFlag(post)">{{flagStatus(post)}}</a>
                        <a class="dropdown-item" (click)="handleFollow(post)">{{followStatus(post)}}</a>
                        <!-- <a class="dropdown-item" href="#">Share</a> -->
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {{post.messageBody}}
            </div>
            <!-- Card footer -->
            <div class="card-footer">
                <div class="row justify-content-between">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xsm-2 justify-content-between">
                        <div class="row vote">
                            <div class="vote-arrows" (click)="upvote(post)">
                                <img [style]="
                                (currentUser && (hasVoted(post) === 1) ? 'filter: none;' : 'filter: brightness(5) saturate(0%);')
                            " src="../../../assets/upvote.svg" alt="">
                            </div>
                            <div class="vote-count text-center" id="post-{{post.messageId}}-vote-count">
                                {{post.voteSummary}}
                            </div>
                            <div class="vote-arrows" (click)="downvote(post)">
                                <img [style]="
                                (currentUser && (hasVoted(post) === -1) ? 'filter: none;' : 'filter: brightness(5) saturate(0%);')
                                " src="../../../assets/downvote.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="justify-content-end col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xsm-3">
                    </div> -->
                    <div class="justify-content-end col-xxl-5 col-xl-5 col-lg-5 col-md-5 col-sm-9 col-xsm-7">
                        <a class="text-gray-400" [routerLink]="'/user/' + post.appUser.id">{{post.appUser.username}}</a>
                        <a> // {{post.dateStamp | date: 'short' }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 
        **********************************
        **     NO POSTS CARDS BELOW     **
        **********************************
     -->

    <!-- No Posts HOME Card Start -->
    <div *ngIf="!posts?.length && postType === 1" class="col-xxl-6 col-xl-8 col-lg-11 col-md-12 mx-auto">
        <div class="card h-100 bg-mid shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header bg-mid py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold" [innerHtml]="noPostsMessage"></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-gray-400">⠇</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow bg-dropdown animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Post Options:</div>
                        <a class="dropdown-item" href="#">Flag</a>
                        <a class="dropdown-item" href="#">Follow</a>
                        <!-- <a class="dropdown-item" href="#">Share</a> -->
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                Check <a routerLink="/explore">the explore page</a> to find people to follow, or Broadcast something <a href="#" data-toggle="modal" data-target="#post-modal">here</a>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xsm-2 justify-content-between">
                        <div class="row vote">
                            <div class="vote-arrows">
                                <img style="filter: brightness(5) saturate(0%);" src="../../../assets/upvote.svg"
                                    alt="">
                            </div>
                            <div class="vote-count text-center">
                                0
                            </div>
                            <div class="vote-arrows">
                                <img style="filter: brightness(5) saturate(0%);" src="../../../assets/downvote.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xsm-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- No Posts HOME Card End -->

    <!-- No Posts EXPLORE Card Start -->
    <div *ngIf="!posts?.length && postType === 2" class="col-xxl-6 col-xl-8 col-lg-11 col-md-12 mx-auto">
        <div class="card h-100 bg-mid shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header bg-mid py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold" [innerHtml]="noPostsMessage"></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="text-gray-400">⠇</div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow bg-dropdown animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Post Options:</div>
                        <a class="dropdown-item" href="#">Flag</a>
                        <a class="dropdown-item" href="#">Follow</a>
                        <!-- <a class="dropdown-item" href="#">Share</a> -->
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                Either an error occurred, or you will be the first to create a post! Broadcast something <a href="#" data-toggle="modal" data-target="#post-modal">here</a>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xsm-2 justify-content-between">
                        <div class="row vote">
                            <div class="vote-arrows">
                                <img style="filter: brightness(5) saturate(0%);" src="../../../assets/upvote.svg"
                                    alt="">
                            </div>
                            <div class="vote-count text-center">
                                0
                            </div>
                            <div class="vote-arrows">
                                <img style="filter: brightness(5) saturate(0%);" src="../../../assets/downvote.svg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-xsm-8">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- No Posts EXPLORE Card End -->

    <div class="jtt col-xxl-6 col-xl-8 col-lg-11 col-md-12 mx-auto" *ngIf="posts?.length > 5">
        <!-- Add jump to top -->
        <div class="jtt-button justify-content-center text-center" (click)="jumpToTop()">
            <img class="jtt-img mx-auto" src="../../../../assets/upvote.svg" alt="Jump to top button">
        </div>
    </div>

    <!-- Link modal -->
    <app-post-input class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="postModalLable"
        aria-hidden="true"></app-post-input>
</div>