#posts {
    margin: 0 auto;
}

.vote {
    display: flex;
    text-align: center;
}

.buffer {
    margin-top: 2em;
}

.vote-arrows {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vote-count {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}