<div class="posts">
    <h1 class="font-weignt-bold text-uppercase">Recent Broadcasts</h1>
    <!-- Post Card -->
    <div *ngFor="let post of posts" class="col-xxl-6 col-xl-8 col-lg-11 col-md-12 mb-4">
        <div class="card border-left-post shadow h-100 py-2 bg-mid">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="post-head row">
                            <div class="col">
                                <div class="h5 mb-0 font-weight-bold text-white">
                                    {{post.Title}}
                                </div>
                                <!-- <a [href]="post.username" class="post-author font-weight-bold text-white mb-1">
                                    {{post.username}} // {{post.fullname}}
                                </a> -->
                            </div>
                            <div class="col-lg-1">
                                <img src="../../../assets/flag.svg" width="30" alt="">
                            </div>
                        </div>
                        <hr class="post-divider">
                        <p class="mb-0 text-white">
                            {{post.Body}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-dark">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row vote">
                        <div class="col-lg-1">
                            <img src="../../../assets/upvote.svg" alt="">
                        </div>

                        <div class="col-lg-1">
                            <img src="../../../assets/downvote.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- {{post.timestamp}} -->
                </div>
            </div>
        </div>
    </div>

</div>