<div class="container">

    <div class="card bg-dark o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 mb-4">Create an Account!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user bg-light" id="FirstName"
                                        placeholder="First Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user  bg-light" id="LastName"
                                        placeholder="Last Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user  bg-light" id="InputEmail"
                                    placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="username" class="form-control form-control-user  bg-light" id="InputUsername"
                                    placeholder="Username" required>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" class="form-control form-control-user  bg-light"
                                        id="exampleInputPassword" placeholder="Password" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user  bg-light"
                                        id="exampleRepeatPassword" placeholder="Repeat Password" required>
                                </div>
                            </div>
                            <button class="btn btn-secondary btn-user btn-block" type="submit">
                                Register Account
                            </button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="login">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- 
<div class="container">
    <h1>Signup test</h1>

    <div class="signup-container">
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" id="">
                <label>Password</label>
                <input type="password" name="password" id="">
            </div>
        </form>
    </div>
</div> -->